[submodule "scripts/addons_extern/animation_nodes"]
	path = scripts/addons_extern/animation_nodes
	url = git@github.com:JacquesLucke/animation_nodes.git
[submodule "scripts/addons_extern/CrowdMaster"]
	path = scripts/addons_extern/CrowdMaster
	url = git@github.com:johnroper100/CrowdMaster.git
[submodule "scripts/addons_extern/BlenRig"]
	path = scripts/addons_extern/BlenRig
	url = git@gitlab.com:jpbouza/BlenRig.git
[submodule "scripts/addons_extern/commotion"]
	path = scripts/addons_extern/commotion
	url = git@github.com:mrachinskiy/commotion.git
[submodule "scripts/addons_extern/namer"]
	path = scripts/addons_extern/namer
	url = git@github.com:proxeIO/namer.git
[submodule "scripts/addons_extern/name-panel"]
	path = scripts/addons_extern/name-panel
	url = git@github.com:proxeIO/name-panel.git
[submodule "scripts/addons_extern/lock_cursor3d"]
	path = scripts/addons_extern/lock_cursor3d
	url = git@github.com:chromoly/lock_cursor3d.git
